
/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: orange;
}

.quote-box {
  width: 30%;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.author {
  text-align: right;
  margin-top: 1rem;
}

.contact {
  display: flex;
}

.link {
  margin: .5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
} */